CLIENT_ID = "Client ID goes here"
CLIENT_SECRET = "Client Secret goes here"
OAUTH_TOKEN = "Oauth token goes here"

BOT_NAME = "Bot's username goes here"
CHANNEL = "Channel's username goes here (can be same as BOT_NAME)"
